@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
  min-height: 100%;
  font-family: theme('fontFamily.display');
  background-color: theme('colors.black');
  color: theme('colors.white');
}

@font-face {
  font-family: 'standard-graf';
  font-style: normal;
  font-weight: 400;
  src: local('standard-graf_regular'), url('$lib/assets/fonts/standard-graf_regular.woff') format('woff');
}

.grainy-bw {
  filter: saturate(150) grayscale(1) contrast(10) invert(1);
  /* transform: scaleX(-1); */
  /* mix-blend-mode: multiply; */
}